In [49]:
#6081

a = int(input(), 16)
for i in range(1, 16 + 1):
    print('%X'%a,"*" '%X'%i, "=", '%X'%(a*i))

B
B *1 = B
B *2 = 16
B *3 = 21
B *4 = 2C
B *5 = 37
B *6 = 42
B *7 = 4D
B *8 = 58
B *9 = 63
B *A = 6E
B *B = 79
B *C = 84
B *D = 8F
B *E = 9A
B *F = A5
B *10 = B0

In [96]:
#6082
n = input()
n = int(n)
l = ""
for i in range(1, n+1):
    if i%10 == 3 or i%10 == 6 or i%10 == 9 or i//10 == 3 or i//10 == 6 or i//10 == 9:
        if (i//10 == 3 or i//10 == 6 or i//10 == 9)and (i%10 == 3 or i%10 == 6 or i%10 == 9):
            print("XX")
        else:
            print("X")
    else :
        print(i)

80
1
2
X
4
5
X
7
8
X
10
11
12
X
14
15
X
17
18
X
20
21
22
X
24
25
X
27
28
X
X
X
X
XX
X
X
XX
X
X
XX
40
41
42
X
44
45
X
47
48
X
50
51
52
X
54
55
X
57
58
X
X
X
X
XX
X
X
XX
X
X
XX
70
71
72
X
74
75
X
77
78
X
80

In [112]:
#6083
r,g,b = input().split();
r = int(r);
g = int(g);
b = int(b);
sum = 0;
for i in range(0, r):
    for j in range(g):
        for k in range(b):
            print(i, j, k)
            sum += 1;
print(sum)

2 2 2
0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
8

In [122]:
#6084
h = 44100
b = 16
t = 2 
s = 10
sum = h*b*t*s

print(round(sum/8/1024/1024,1))

1.7

In [126]:
#6085
w = 1024
h = 768
b = 24
sum = w*h*b
print(round(sum/8/1024/1024, 2))

2.25

In [132]:
#6086
i = 1
c = 0
n = 66;
while True:
    i += c;
    c += 1;
    if (i >= n):
        break
        print(i)

In [151]:
#6086
i = 0
c = 0
n = 57;
while True:
    if (i >= n):
        break
    i += c;
    c += 1;
print(i)

66

In [153]:
#6087
n = 10
for i in range(0, n+1):
    if(i%3 == 0):
        continue;
    print(i)

1
2
4
5
7
8
10

In [155]:
#6088
a = 1
d = 3
n = 5

result = d*(n-1) +a 
print(result)

13

In [158]:
#6089
a = 2
r = 3
n = 7

result = a*(3**(n-1))
print(result)

1458

In [214]:
#6090

a = 1
m = -2
d = 1
n = 8

# 1 = 1
# -1 = 1* -2 +1
# 3 = (1*-2+1)* -2 +1
# -5 = ((1*-2+1)* -2 +1)* -2 + 1
for i in range(1, n):
    a = a * m + d
print('a', a)

i 1
i 2
i 3
i 4
i 5
i 6
i 7
a -85

In [ ]:
#6090